.hotelContainer{
   
    margin-top: 20px;
flex-wrap: wrap;

}
.hotelWrapper{
  flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
justify-content: space-between;
position: relative;
margin-bottom: 48px;
}
.imageItem{
  width:100%;


}
.imageItem>img{
    width: 100%;
object-fit: cover;
border-radius: 10px;



}
.hotelImages{
width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px;
justify-content: center;
 
}


.hotelTitle{
    color: #8400ff;
    margin-bottom: -8px;
    margin-top: -13px;
}
.hotelAddress{
    color: rgb(215, 32, 0);
}
.hotelDistance{
    color: blue;
}
.hotelPriceHighlight{
    color: blue;
}
.imageItem {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .imageItem > img {
  
    object-fit: cover;
    transition: transform 0.3s ease; /* Adding transition for a smooth effect */
  }
  
  .imageItem:hover > img {
    transform: scale(1.1); /* Increase the size on hover */
  }
  .booknow{
    position: absolute;
    top: 10px;
right: 0;
    border: none;
    padding: 10px;
    background: blue;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;font-weight: bold;




  }
  .details{
    height: 272px;
    width: 213px;
    background:white;
    display: flex;
    flex: 1;
    right: 0px;
    position: absolute;
  }
  .loram{
    color: rgb(11, 11, 11);
    overflow: auto;
    
  }